body {
  background-color: #e4f9f5;
}

h1 {
  color: #393e46;
}

h3 {
  color: #29a19c;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
